body {
  width: 100%;
  color: #fff;
  font-family: "Ubuntu", Helvetica, sans-serif;
  background-color: #000;
  background-image: url("../img/flap-trans-bird.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 200px 200px;
  background-attachment: fixed; }
  @media screen and (min-width: 768px) {
    body {
      width: 100%;
      background-size: 400px 400px; } }
  @media screen and (min-width: 1024px) {
    body {
      max-width: 100%;
      background-size: 600px 600px; } }

nav {
  height: 3.5em;
  padding-top: 0.5em; }
  nav ul {
    float: left; }
  nav li {
    list-style: none;
    display: inline-block;
    margin-right: 1em;
    cursor: pointer; }
    nav li :hover {
      color: #576c88; }
    nav li a {
      text-decoration: none;
      font-weight: 300;
      color: #e0edf3; }
  @media screen and (min-width: 768px) {
    nav li {
      margin-right: 2em;
      font-size: 1.2em; } }
  @media screen and (min-width: 1024px) {
    nav li {
      margin-right: 4em;
      font-size: 1.5em; } }

header {
  margin-top: 2em;
  font-size: 2.6em;
  font-weight: 700; }
  header img {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2.5em; }
  header h1 {
    margin-left: 1em;
    border-bottom: 1px solid #fff;
    margin-bottom: 2.5em; }
  @media screen and (min-width: 768px) {
    header {
      width: 100%; }
      header img {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 2.5em; } }
  @media screen and (min-width: 1024px) {
    header {
      max-width: 100%; }
      header img {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 2.5em;
        margin-top: 3em; } }

/*462x413*/
.top-line {
  color: #fff;
  margin-left: 1em; }
  .top-line h2 {
    font-weight: 700;
    font-size: 2em; }
  .top-line p {
    width: 100%;
    font-weight: 300;
    line-height: 1.2em;
    margin-bottom: 3em; }
  @media screen and (min-width: 768px) {
    .top-line h2 {
      width: 90%;
      margin: 0 auto; }
    .top-line p {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2em; } }
  @media screen and (min-width: 1024px) {
    .top-line {
      margin: 0 auto; }
      .top-line h2 {
        width: 90%;
        text-align: center; }
      .top-line p {
        width: 90%;
        text-align: center; } }

.features {
  width: 100%; }
  .features ul li {
    list-style: none; }
    .features ul li h2 {
      font-size: 2em;
      margin-bottom: 0.25em;
      margin-top: 0.1em; }
    .features ul li img {
      height: 207px;
      width: 231px;
      border: 10px solid #ddd; }
    .features ul li p {
      font-weight: 300;
      margin-bottom: 2em;
      margin-top: 0.2em; }
  @media screen and (min-width: 768px) {
    .features ul li img {
      height: 310px;
      width: 336px;
      margin-right: 27.5%;
      margin-left: 23.5%; }
    .features ul li h2 {
      width: 55%;
      margin-right: auto;
      margin-left: auto; }
    .features ul li p {
      width: 45%;
      margin-right: auto;
      margin-left: auto; } }
  @media screen and (min-width: 1024px) {
    .features ul li {
      width: 100%; }
      .features ul li img {
        height: 413px;
        width: 462px;
        margin-right: 27.5%;
        margin-left: 25.5%; }
      .features ul li h2 {
        text-align: center; }
      .features ul li p {
        text-align: center; } }

.call {
  text-align: center;
  width: 60%;
  margin: 3em auto 2em auto;
  font-size: 0.75em; }
  .call a {
    font-size: 0.5em;
    text-decoration: none;
    box-shadow: 10px 10px 5px 5px #333;
    font-weight: 700;
    font-size: 2.5em;
    border: 1px solid #e0edf3;
    border-radius: 5px;
    color: #e0edf3;
    cursor: pointer; }
    .call a:hover {
      color: #576c88;
      background-color: #aaa; }
    .call a:active {
      color: #f2fff5; }
  @media screen and (min-width: 768px) {
    .call {
      font-size: 1em; } }
  @media screen and (min-width: 1024px) {
    .call {
      font-size: 1.2em; } }

.social {
  font-size: 1em;
  color: #e0edf3; }
  .social a {
    margin-left: 1.25em;
    text-decoration: none;
    margin-right: 1.25em; }
  .social i {
    color: #e0edf3;
    text-align: center; }
    .social i:hover {
      color: #576c88; }
    .social i:active {
      color: #f2fff5; }
  @media screen and (min-width: 768px) {
    .social {
      font-size: 2em; } }
  @media screen and (min-width: 1024px) {
    .social {
      font-size: 3em; } }

footer {
  text-align: center; }

section {
  width: 90%; }
  @media screen and (min-width: 768px) {
    section {
      padding: 0;
      max-width: 960px;
      margin: 0 auto; } }
  @media screen and (min-width: 1024px) {
    section {
      padding: 0;
      max-width: 1040px;
      margin: 0 auto; } }
