/*****************
VARIABLES
*****************/
/*****************
SITEWIDE STYLING
*****************/
section {
  width: 90%; }
  @media screen and (min-width: 768px) {
    section {
      padding: 0;
      max-width: 960px;
      margin: 0 auto; } }
  @media screen and (min-width: 1024px) {
    section {
      padding: 0;
      max-width: 1040px;
      margin: 0 auto; } }

body {
  width: 100%;
  color: #fff;
  font-family: "Ubuntu", Helvetica, sans-serif;
  background-color: #000;
  background-image: url("../img/flap-trans-bird.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 250px 250px;
  background-attachment: fixed; }
  @media screen and (min-width: 768px) {
    body {
      width: 100%;
      background-size: 400px 400px; } }
  @media screen and (min-width: 1024px) {
    body {
      max-width: 100%;
      background-size: 600px 600px; } }

/*****************
NAVIGATION
*****************/
nav {
  height: 3.5em;
  padding-top: 0.5em; }
  nav ul {
    float: left;
    padding-left: 1em; }
  nav li {
    list-style: none;
    margin-top: 0.5em;
    cursor: pointer; }
    nav li :hover {
      color: #576c88; }
    nav li a {
      text-decoration: none;
      font-weight: 300;
      color: #e0edf3; }
  @media screen and (min-width: 768px) {
    nav ul {
      padding-left: 5%; }
    nav li {
      font-size: 1.2em; } }
  @media screen and (min-width: 1024px) {
    nav li {
      font-size: 1.5em; } }

/*****************
HEADER AND TOPLINE STYLES
*****************/
header {
  margin: 3em auto; }
  header img {
    width: 90%;
    margin: 3em 5% 3em; }
  @media screen and (min-width: 768px) {
    header {
      width: 100%; }
      header img {
        width: 90%;
        margin: 3em 5%; } }
  @media screen and (min-width: 1024px) {
    header {
      max-width: 100%; }
      header img {
        width: 90%;
        margin: 5em 5% 3em; } }

/*462x413*/
.top-line {
  color: #fff;
  margin-left: 1em; }
  .top-line h2 {
    font-weight: 700;
    font-size: 2em; }
  .top-line p {
    width: 100%;
    font-weight: 300;
    line-height: 1.2em;
    margin-bottom: 3em; }
  @media screen and (min-width: 768px) {
    .top-line {
      margin: 0 auto; }
      .top-line h2 {
        width: 90%;
        margin: 0 auto;
        text-align: center;
        font-size: 2.5em; }
      .top-line p {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 4em;
        text-align: center; } }
  @media screen and (min-width: 1024px) {
    .top-line {
      margin: 0 auto; }
      .top-line h2 {
        width: 90%;
        text-align: center;
        font-size: 3.25em; }
      .top-line p {
        width: 90%;
        font-size: 1.4em;
        text-align: center; } }

#direction {
  font-size: 3em;
  color: whitesmoke;
  text-align: center;
  margin-top: 1em;
  font-weight: 500; }

#spacer1 {
  height: 50px; }

@media screen and (min-width: 768px) {
  height: 300px; }

@media screen and (min-width: 1024px) {
  height: 300px; }

#spacer2 {
  height: 100px; }

@media screen and (min-width: 768px) {
  height: 200px; }

@media screen and (min-width: 1024px) {
  height: 200px; }

/*****************
FEATURES UL
*****************/
.features {
  /*background-color: $background-color;*/
  width: 100%; }
  .features ul {
    list-style: none; }
    .features ul li img {
      height: 207px;
      width: 231px;
      border: 10px solid #ddd; }
    .features ul li h2 {
      font-size: 2em;
      margin-bottom: 0.25em;
      margin-top: 0.1em; }
    .features ul li p {
      font-weight: 300;
      margin-bottom: 2em;
      margin-top: 0.2em; }
  @media screen and (min-width: 768px) {
    .features {
      width: 100%;
      margin-right: auto;
      margin-left: auto; }
      .features ul {
        width: 90%; }
        .features ul li {
          margin-right: auto;
          margin-left: auto; }
          .features ul li img {
            height: 275.33px;
            width: 308px;
            margin-right: 27.5%;
            margin-left: 25.5%; }
          .features ul li h2 {
            margin-left: 25.5%; }
          .features ul li p {
            margin-left: 25.5%; } }
  @media screen and (min-width: 1024px) {
    .features ul li {
      width: 100%; }
      .features ul li img {
        height: 413px;
        width: 462px;
        margin-right: 27.5%;
        margin-left: 25.5%; }
      .features ul li h2 {
        margin-left: 25.5%; }
      .features ul li p {
        margin-left: 25.5%; } }

/*****************
CALL TO ACTION
*****************/
.call {
  text-align: center;
  width: 59%;
  margin: 3em auto 8em auto;
  font-size: 0.75em; }
  .call a {
    position: relative;
    font-size: 0.5em;
    text-decoration: none;
    box-shadow: 10px 10px 5px 5px #333;
    font-weight: 700;
    font-size: 2.5em;
    border: 1px solid #e0edf3;
    border-radius: 5px;
    color: #e0edf3;
    cursor: pointer; }
    .call a:hover {
      color: #576c88;
      background-color: #aaa; }
    .call a:active {
      color: #f2fff5; }
  @media screen and (min-width: 768px) {
    .call {
      font-size: 1em; } }
  @media screen and (min-width: 1024px) {
    .call {
      font-size: 1.2em; } }

/*****************
SOCIAL NETWORK LINKS
*****************/
.social {
  font-size: 1em;
  color: #e0edf3;
  margin-bottom: 4em;
  margin-top: 3em; }
  .social a {
    margin-left: 1.25em;
    text-decoration: none;
    margin-right: 1.25em; }
  .social i {
    color: #e0edf3;
    text-align: center; }
    .social i:hover {
      color: #576c88; }
    .social i:active {
      color: #f2fff5; }
  @media screen and (min-width: 768px) {
    .social {
      font-size: 2em; } }
  @media screen and (min-width: 1024px) {
    .social {
      font-size: 3em; } }

/*****************
FOOTER AND LEAGAL
*****************/
footer {
  text-align: center;
  margin-bottom: 5em; }
  footer a {
    text-decoration: none;
    color: #e0edf3; }
    footer a:hover {
      color: #576c88; }
    footer a:active {
      color: #f2fff5; }
